@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-font-family-base: 'Inter var', sans-serif;
  --ifm-navbar-background-color: transparent;
}

html[data-theme='dark'] {
  --ifm-navbar-background-color: transparent;
  --ifm-toc-border-color: #2f2f2f;
  background-color: #172439;
}

dd {
  margin-left: 0px;
}

.bifromq-navbar-logo-class {
  margin-left: 1rem;
  max-width: 5rem;
}

/* hidden sidebar logo */
/* 
aside a>img {
  visibility: hidden;
  } */

aside a>b {
  visibility: hidden;
}

a {
  text-decoration: none !important;
}

nav.navbar {
  background-color: transparent !important;
  justify-content: center;
  box-shadow: none;
}

.navbar__title {
  width: 0;
  visibility: hidden;
}

.navbar__item {
  font-size: 14px;
  /* padding: 1rem; */
}

.menu__list {
  font-size: 14px;
  margin-left: 0.6rem;
}

.container {
  margin-left: 0.6rem;
}

button.clean-btn.menu__caret {
  transform: scale(0.75);
}

table {
  border-collapse: collapse;
  text-align: left;
  font-size: 95%;
}

table :is(tr, td, th, thead) {
  --ifm-table-stripe-background: transparent;
  --table-cell-color: transparent;
}

table th {
  font-weight: 500;
  font-size: 14px;
  background-color: #66666622;
}

.card
{
  box-shadow: none !important;
  background-color: #ffffff11 !important; 
}

html[data-theme='dark'] code {
  border: 0.1rem solid #ffffff10;
  box-shadow: none !important;
  background-color: #1E2E49 !important;
}

html[data-theme='light'] code {
  border: 0.1rem solid #ffffff10;
  box-shadow: none !important;
  background-color: #f1f1f1 !important;
}

html[data-theme='dark'] .dropdown__menu {
  @apply bg-gray-800;
}

html[data-theme='dark'] .navbar-sidebar__backdrop {
  @apply bg-gray-800;
}

html[data-theme='light'] .navbar-sidebar__backdrop {
  @apply bg-gray-100;
}